<h2 class="pr-page-header">edit <%= @group.name %></h2>

<%= render 'form' %>

<div class="pr-page-header">
  <%= link_to "back to #{@group.name}", @group %>
  <%= link_to 'back to all groups', groups_path %>
</div>

