<h2 class='pr-page-header'>create a group to choose from</h2>

<%= render 'form' %>

<h2 class='pr-page-header'>existing groups</h2>
<% @groups.each do |group| %>
  <%= link_to group.name, group, class: 'pr-existing' %>
<% end %>
